body {
}

.win-h2 {
    padding-top: 12px !important;
}

hr {
    margin: 0;
}

.win-splitviewpanetoggle {
    float: left;
}

.header {
    white-space: nowrap;
}

.title {
    font-size: 25px;
    left: 50px;
    margin-top: 6px;
    vertical-align: middle;
    display: inline-block;
}

.nav-commands {
    margin-top: 20px;
}

.win-navbarcommand-button {
    background-color: transparent;
}

.win-splitview-pane-hidden .win-navbarcommand-button {
    width: 46px;
}

.win-splitview-pane-hidden .win-navbarcommand-label {
    visibility: hidden;
}

.win-splitview-content {
    background-color: white;
}

.rooms-list {
    overflow-y: auto;
    height: calc(100vh - 50px);
}

.room-tile {
    max-height: 40px;
}

.room-tile-icon {
    display: inline-block;
    max-height: 24px;
    max-width: 24px;
    margin-left: 12px;
    margin-top: 6px;
}

.room-tile-text {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-top: 8px;
}

.room-topic {
    padding-top: 6px;
}

.content {
    margin: 0 20px;
}

.fit-view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-room-text {
    font-size: 2em;
}

#roomDescription {
    height: 120px;
    background-color: #f2f2f2;
}

.win-listview .win-listlayout .win-container {
    height: auto;
}

.messages-container {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
}

#messagesListView {
    height: calc(100vh - 120px - 60px);
}

.progress {
    width: 100%;
}

.hide {
    display: none;
}

#actions {
    height: 50px;
}

.btn {
    min-width: 0;
}

.btn-link {
    margin: 0;
    padding: 0;
    height: 38px;
    max-height: 38px;
    text-decoration: none !important;
}

.btn-icon {
    font-family: 'Segoe MDL2 Assets';
    width: 30px;
    margin: 0 6px !important;
    font-size: 22px;
}

#textMessage {
    height: 100%;
    width: calc(100vw - 58px - 42px - 42px);
    border: none;
}

html.win-hoverable .win-listview .win-itembox:hover::before,
html.win-hoverable .win-itemcontainer .win-itembox:hover::before {
    border: none;
}

.unread {
    border-right: 2px solid #2ECC71;
    background-color: rgba(46, 204, 113, 0.08);
}