/* app global style */
body {
}

.win-h1, .win-h2 {
    padding-top: 12px !important;
}

hr {
    margin: 0;
}

.content {
    margin: 0 20px;
}

/* split-view style */
.win-splitviewpanetoggle {
    float: left;
}

.split-view-header {
    white-space: nowrap;
}

.split-view-commands {
    margin-top: 20px;
}

.win-splitview-pane-hidden .win-navbarcommand-button {
    width: 46px;
}

.win-splitview-pane-hidden .win-navbarcommand-label {
    visibility: hidden;
}

.split-view-title {
    font-size: 25px;
    left: 50px;
    margin-top: 6px;
    vertical-align: middle;
    display: inline-block;
}

/* list-view style */
.win-listview .win-listlayout .win-container {
    height: auto;
}

html.win-hoverable .win-listview .win-itembox:hover::before,
html.win-hoverable .win-itemcontainer .win-itembox:hover::before {
    border: none;
}

/* button style */
.btn {
    min-width: 0;
}

.btn-link {
    margin: 0;
    padding: 0;
    height: 38px;
    max-height: 38px;
    text-decoration: none !important;
}

.btn-icon {
    font-family: 'Segoe MDL2 Assets';
    width: 30px;
    margin: 0 6px !important;
    font-size: 22px;
}

/* circle style */
.circle {
    background-position: 50%;
    border-radius: 50%;
}

.circle-20 {
	width: 20px;
	height: 20px;
}

.circle-dark {
	background-color: #383435;
}

.circle-lightgrey {
	background-color: #c9cbc7;
}

.circle-center {
	margin: auto;
}

/* home view style */
#me-circle {
	width: 200px;
	height: 200px;
	margin-top: 30px;
	margin-bottom; 20px;
}

#me-img {
    background-repeat: no-repeat;
	max-width: 200px;
	max-height: 200px;
    background-position: 50%;
    border-radius: 100%;
}

/* add a room view style */
#addRoomHeader {
	height: 60px;
}

#addRoomContent {
	height: calc(100vh - 60px);
}

#repositoriesListView {
	height: calc(100vh - 180px);
}

#usersListView {
	height: calc(100vh - 220px);
}

/* all rooms view style */
#roomsHeader {
	height: 100px;
}

#roomsContent {
	height: calc(100vh - 100px);
}

.room-tile {
    max-height: 40px;
}

.room-tile-icon {
    max-height: 24px;
    max-width: 24px;
    margin-left: 12px;
    margin-top: 6px;
	display: inline-block; 
	vertical-align: middle;
}

.room-tile-text {
    vertical-align: top;
    margin-left: 10px;
    margin-top: 8px;
	display: inline-block; 
	vertical-align: middle;
}

.room-tile-badge {
	color: white;
	font-size: 12px;
	font-weight: bold;
	margin-top: 10px !important;
	padding-top: 2px;
	float: right;
}

/* room view style */
.room-topic {
    padding-top: 6px;
}

#roomDescription {
    height: 120px;
    background-color: #f2f2f2;
}

#messagesListView {
    height: calc(100vh - 120px - 60px);
}

#textMessage {
	height: 100%;
	width: calc(100vw - 58px - 42px - 42px);
	border: none;
}

#actions {
    height: 50px;
}

.win-progress-bar {
    width: 100%;
}

.hide {
    display: none;
}

.unread {
    border-right: 2px solid #2ECC71;
    background-color: rgba(46, 204, 113, 0.08);
}

/* adaptative design style */
@media screen and (max-width: 400px) {
	/* home view style */ 
	.win-h1 {
		font-size: 18px;
	}

	.win-h2 {
		font-size: 14px;
	}

	#me-circle {
		width: 100px;
		height: 100px;
		margin-top: 20px;
		margin-bottom; 10px;
	}

	#me-img {
		max-width: 100px;
		max-height: 100px;
	}
}

@media screen and (max-width: 1020px) {
	
}

@media screen and (min-width: 1020px) {
	
}