<div class="content">
    <h2 id="addRoomHeader" class="win-h2">Join a room</h2>

    <!-- four ways to create/join a room -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" ng-class="{active: currentView === 'existing'}">
            <a class="addRoomTab" ui-sref="addRoom.existing" aria-controls="existing" role="tab">Existing</a>
        </li>
        <li role="presentation" ng-class="{active: currentView === 'repository'}">
            <a class="addRoomTab" ui-sref="addRoom.repository" aria-controls="repository" role="tab">Repository</a>
        </li>
        <li role="presentation" ng-class="{active: currentView === 'channel'}">
            <a class="addRoomTab" ui-sref="addRoom.channel" aria-controls="channel" role="tab">Channel</a>
        </li>
        <li role="presentation" ng-class="{active: currentView === 'oneToOne'}">
            <a class="addRoomTab" ui-sref="addRoom.oneToOne" aria-controls="oneToOne" role="tab">One to one</a>
        </li>
    </ul>

    <!-- show subcontent to join a room -->
    <div ui-view></div>
</div>