<h2 id="addRoomHeader" class="win-h2 content">Join a room</h2>

<!-- three ways to create a room -->
<win-pivot id="addRoomContent">
    <!-- create from GitHub repository -->
    <win-pivot-item header="'Repository'">
        <!-- list view of repositories without room -->
        <win-list-view id="repositoriesListView" item-data-source="repositoriesWithoutRoom" win-control="repositoriesWinControl">
            <!-- repository template -->
            <win-item-template>
                <div style="width: 200px; height: 200px;">
                    <img ng-src="{{ item.data.avatar_url }}" style="max-width: 100px; max-height: 100px;" />
                    <h5 class="win-h5" style="margin-top: 6px; padding-top: 0px;">{{ item.data.name }}</h5>
                    <em style="font-size: 12px;">{{ item.data.description }}</em>
                </div>
            </win-item-template>

            <win-grid-layout></win-grid-layout>
        </win-list-view>

        <button class="btn">Create project room</button>
    </win-pivot-item>

    <!-- create a custom channel -->
    <win-pivot-item header="'Channel'">
        <!-- owner of this new room -->
        <h3 class="win-h3" style="padding-top: 6px;">Owner</h3>
        <div class="dropdown">
            <button id="dropdown-owner" class="btn btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                <span ng-hide="channel.owner">Select an owner</span>
                <span ng-show="channel.owner">
                    <img ng-src="{{ channel.owner.avatarUrlSmall }}" style="max-width: 20px; max-height: 20px;" />
                    <span>{{ channel.owner.username }}</span>
                </span>
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-owner">
                <li ng-repeat="owner in owners">
                    <a ng-click="selectOwner(owner)">
                        <img ng-src="{{ owner.avatarUrlSmall }}" style="max-width: 20px; max-height: 20px;" />
                        <span>{{ owner.username }}</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- room name -->
        <h3 class="win-h3" style="padding-top: 6px;">Room name</h3>
        <input type="text" placeholder="Required (letters and numbers only)" class="form-control" ng-model="channel.name" style="max-width: 100%; margin-bottom: 6px;" />

        <!-- permissions of the new room -->
        <h3 class="win-h3" style="padding-top: 6px;">Permissions</h3>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="radioPermissions">
                    <span>
                        <b>Public</b>
                        <div>Anyone in the world can join.</div>
                    </span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="radioPermissions">
                    <span>
                        <b>Private</b>
                        <div>Only people added to the room can join.</div>
                    </span>
                </label>
            </div>
        </div>

        <button class="btn">Create channel room</button>
    </win-pivot-item>

    <!-- create a one to one room based on username -->
    <win-pivot-item header="'One to one'">
        <!-- search input -->
        <input type="text" placeholder="Search a user..." class="form-control" ng-model="username" style="max-width: 100%; margin-bottom: 6px;" />

        <button class="btn">Chat with him</button>
    </win-pivot-item>
</win-pivot>
