<!-- owner of this new room -->
<h3 class="win-h3 channel-form-title">Owner</h3>
<div class="dropdown">
    <button id="dropdown-owner" class="btn btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
        <span ng-hide="channel.owner">Select an owner</span>
        <span ng-show="channel.owner">
            <img class="owner-image" ng-src="{{ channel.owner.avatarUrlSmall }}" />
            <span>{{ channel.owner.username }}</span>
        </span>
        <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-owner">
        <li ng-repeat="owner in owners">
            <a ng-click="selectOwner(owner)">
                <img class="owner-image" ng-src="{{ owner.avatarUrlSmall }}" />
                <span>{{ owner.username }}</span>
            </a>
        </li>
    </ul>
</div>

<!-- room name -->
<h3 class="win-h3 channel-form-title">Room name</h3>
<input id="channel-name" type="text" placeholder="Required (letters and numbers only)" class="form-control" ng-model="channel.name" />

<!-- permissions of the new room -->
<h3 class="win-h3 channel-form-title">Permissions</h3>
<div class="form-group">
    <div class="radio">
        <label>
            <input type="radio" name="radioPermissions">
            <span>
                <b>Public</b>
                <div>Anyone in the world can join.</div>
            </span>
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="radioPermissions">
            <span>
                <b>Private</b>
                <div>Only people added to the room can join.</div>
            </span>
        </label>
    </div>
</div>

<button class="btn">Create channel room</button>