<!-- chat commands -->
<div style="background-color: #f2f2f2;" data-win-control="WinJS.UI.ToolBar">
    <!-- primary commands -->
    <button data-win-control="WinJS.UI.Command" data-win-options="{ id: 'cmdLeave', label: 'leave', section: 'primary', type: 'button', icon: '&#xEA52;' }"></button>
</div>

<!-- room description -->
<div id="roomDescription">
    <div class="content">
        <div>
            <img id="roomImage" ng-src="{{ room.image }}" />
        </div>
        <div>
            <h2 class="win-h2">{{ room.name }}</h2>
            <h6 id="roomTopic" class="win-h6" ng-show="room.topic">{{ room.topic }}</h6>
        </div>
    </div>
</div>

<!-- list view of messages -->
<message-list class="messages-list-view"></message-list>

<hr />

<!-- actions (send message) -->
<div id="actions">
    <button id="sendFiles" class="btn btn-link btn-icon no-outline" disabled>&#xE16C;</button>
    <textarea id="textMessage" ng-model="textMessage" ng-enter="returnLine()" placeholder="Enter your text here..."></textarea>
    <button id="sendMessage" ng-disabled="!textMessage" ng-click="sendMessage()" class="btn btn-link btn-icon no-outline">&#xE122;</button>
</div>