<div id="home-scroll" class="win-scrollview">
    <div class="content">
        <h1 class="win-h1">Welcome to Modern Gitter !</h1>
        <h2 class="win-h2">A non official app especially designed for the Windows platform.</h2>

        <div class="text-center">
            <div id="me-circle" class="circle circle-lightgrey circle-center">
                <img id="me-img" src="/assets/me.png" />
            </div>

            <div>
                <h1 class="win-h1">Hi,</h1>
                <h2 class="win-h2">I'm David Bottiau, an independant developer.<br />
                I think you're here to chat, just select a room.
            </h2>
                <h1 class="win-h1">:)</h1>
            </div>
        </div>
        
        <div id="app-version">
            Version {{ appVersion.major }}.{{ appVersion.minor }}.{{ appVersion.build }}
        </div>
    </div>
</div>