<div id="home-scroll" class="win-scrollview win-ui-dark">
    <div class="content">
        <h1 class="win-h1">Welcome to Modern Gitter !</h1>
        <h2 class="win-h2">A non official app especially designed for the Windows platform.</h2>

        <div class="text-center">
            <div>
                <h1 class="win-h1">Hi,</h1>
                <h2 class="win-h2">
                    I'm David Bottiau, an independant developer.<br />
                    I think you're here to chat, just select a room.
                </h2>
                <h1 class="win-h1">:)</h1>
            </div>

            <div>
                <button class="btn btn-primary" ui-sref="addRoom.existing">Join a room</button>
                <button class="btn btn-primary" ng-click="chatWithUs()">Chat with us</button>
            </div>
        </div>

        <div id="app-version">
            Version {{ appVersion }}
        </div>

        <div id="issues-link">
            <a href="https://github.com/Odonno/modern-gitter-winjs/issues" class="btn btn-link">
                <strong>A bug ? A suggestion ?</strong>
            </a>
        </div>
    </div>
</div>