<div class="content">
    <h1 class="win-h1">Welcome to Modern Gitter !</h1>
    <h2 class="win-h2">A non official app especially designed for the Windows platform.</h2>
</div>

<div class="text-center">
    <div class="circle circle-200 circle-lightgrey circle-center" style="margin-top: 30px; margin-bottom; 20px;">
        <img id="me-img" src="/assets/me.png" />
    </div>

    <div>
        <h1 class="win-h1">Hi,</h1>
        <h2 class="win-h2">I'm David Bottiau, an independant developer.<br />
            I think you're here to chat, just select a room.
        </h2>
        <h1 class="win-h1">:)</h1>
    </div>
</div>