<!-- search input -->
<input id="oneToOneHeader" type="text" placeholder="Search a user..." class="form-control" ng-model="username" />

<!-- list view of users searched -->
<win-list-view id="usersListView" item-data-source="users" selection-mode="'single'" tap-behavior="'directSelect'" selection="selection" win-control="usersWinControl">
    <!-- user template -->
    <win-item-template>
        <div class="onetoone clickable">
            <img class="onetoone-image" ng-src="{{ item.data.avatarUrlSmall }}" />
            <h5 class="win-h5 onetoone-name">{{ item.data.username }}</h5>
            <em class="onetoone-description" ng-show="item.data.username !== item.data.displayName">
                {{ item.data.displayName }}
            </em>
        </div>
    </win-item-template>

    <win-grid-layout orientation="'vertical'"></win-grid-layout>
</win-list-view>

<button class="btn" ng-disabled="selection.length !== 1" ng-click="createRoom()">Chat with him</button>