<!-- search input -->
<input id="oneToOneHeader" type="text" placeholder="Search a user..." class="form-control" ng-model="username" />

<!-- list of users searched -->
<div id="usersListView">
    <div ng-repeat="user in users" class="onetoone clickable">
        <img class="onetoone-image" ng-src="{{ user.avatarUrlSmall }}" />
        <h5 class="win-h5 onetoone-name">{{ user.username }}</h5>
        <em class="onetoone-description" ng-show="user.username !== user.displayName">
            {{ user.displayName }}
        </em>
    </div>
</div>

<button class="btn btn-primary" ng-disabled="selection.length !== 1" ng-click="createRoom()">Chat with him</button>