<!-- list view of repositories without room -->
<win-list-view id="repositoriesListView" item-data-source="repositoriesWithoutRoom" win-control="repositoriesWinControl">
    <!-- repository template -->
    <win-item-template>
        <div style="width: 200px; height: 200px;">
            <img ng-src="{{ item.data.avatar_url }}" style="max-width: 100px; max-height: 100px;" />
            <h5 class="win-h5" style="margin-top: 6px; padding-top: 0px;">{{ item.data.name }}</h5>
            <em style="font-size: 12px;">{{ item.data.description }}</em>
        </div>
    </win-item-template>

    <win-grid-layout></win-grid-layout>
</win-list-view>

<button class="btn">Create project room</button>