<!-- room description -->
<div id="roomDescription">
    <div class="content">
        <div id="roomBlockImage">
            <img id="roomImage" ng-src="{{ room.image }}" />
        </div>
        <div id="roomBlockHeader">
            <h2 class="win-h2">{{ room.name }}</h2>
            <h6 id="roomTopic" class="win-h6" ng-show="room.topic">{{ room.topic }}</h6>
        </div>
    </div>
</div>

<!-- fix to make ui-listview working -->
<win-list-view id="fixListView" win-control="fixWinControl" style="height: 0;"></win-list-view>

<!-- list view of messages (ui-listview implementation) -->
<div id="customMessagesListView" class="messages-list-view" ui-list-view="message in messages" options="listOptions" style="transform: rotateX(180deg);">
    <div class="message-container clickable" ng-class="message.unread ? 'unread' : 'read'" style="transform: rotateX(180deg);">
        <img class="message-image" ng-src="{{ message.fromUser.avatarUrlSmall }}" />
        <div class="message-subcontainer">
            <div class="message-username">
                <span>{{ message.fromUser.username }}</span>
                <span style="font-size: 12px;">{{ message.sent | timeAgo }}</span>
            </div>
            <div class="message-content" ng-bind-html="message.html"></div>
        </div>
    </div>
</div>

<hr />

<!-- actions (send message) -->
<div id="actions">
    <button id="sendFiles" class="btn btn-link btn-icon no-outline" disabled>&#xE16C;</button>
    <input id="textMessage" type="text" ng-model="textMessage" placeholder="Enter your text here..." ng-enter="sendMessage()" />
    <button id="sendMessage" ng-disabled="!textMessage" ng-click="sendMessage()" class="btn btn-link btn-icon no-outline">&#xE122;</button>
</div>