<h2 id="roomsHeader" class="win-h2 content">Rooms</h2>

<!-- list view of rooms -->
<win-list-view id="roomsListView" item-data-source="orderedRooms">
    <!-- room template -->
    <win-item-template>
        <div ng-click="selectRoom(item.data)">
            <img class="room-tile-icon" ng-src="{{ item.data.image }}" />
            <div class="room-tile-text">{{ item.data.name }}</div>
            <div class="room-tile-badge circle circle-20 circle-dark circle-center text-center">
                <span ng-show="item.data.unreadItems < 100">{{ item.data.unreadItems }}</span>
                <span ng-hide="item.data.unreadItems < 100">*</span>
            </div>
        </div>
    </win-item-template>

    <win-list-layout></win-list-layout>
</win-list-view>