<div id="roomsHeader" class="content">
    <h2 class="win-h2">Rooms</h2>

    <!-- search input -->
    <input type="text" placeholder="Search a room..." class="form-control" ng-model="search" style="max-width: 100%;" />
</div>

<!-- list view of rooms -->
<win-list-view id="roomsListView" item-data-source="filteredRooms">
    <!-- room template -->
    <win-item-template>
        <div ng-click="selectRoom(item.data)">
            <img class="room-tile-icon" ng-src="{{ item.data.image }}" />
            <div class="room-tile-text">{{ item.data.name }}</div>
            <div class="room-tile-badge circle circle-20 circle-dark circle-center text-center">
                <span ng-show="item.data.unreadItems < 100">{{ item.data.unreadItems }}</span>
                <span ng-hide="item.data.unreadItems < 100">*</span>
            </div>
        </div>
    </win-item-template>

    <win-list-layout></win-list-layout>
</win-list-view>
