<!DOCTYPE html>
<html ng-app="modern-gitter">
<head>
    <meta charset="utf-8" />
    <title>Modern Gitter</title>

    <!-- WinJS references -->
    <link href="node_modules/winjs/css/ui-light.css" rel="stylesheet" />
    <script src="node_modules/winjs/js/base.js"></script>
    <script src="node_modules/winjs/js/ui.js"></script>

    <!-- Angular WinJS references -->
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-winjs/js/angular-winjs.js"></script>

    <!-- App references -->

    <link href="/css/default.css" rel="stylesheet" />
    <script src="/js/default.js"></script>
</head>
<body class="win-type-body" ng-controller="AppCtrl">
    <win-split-view win-control="splitViewWinControl" class="splitView">
        <!-- Pane area -->
        <win-split-view-pane>
            <div class="header">
                <button class="win-splitviewpanetoggle"
                        data-win-control="WinJS.UI.SplitViewPaneToggle"
                        data-win-options="{ splitView: select('.splitView') }"></button>
                <div class="title">Modern Gitter</div>
            </div>

            <div class="nav-commands">
                <win-split-view-command class="room-tile" ng-repeat="room in rooms" ng-click="selectRoom(room)">
                    <img class="room-tile-icon" ng-src="{{ room.image }}" />
                    <div ng-show="splitViewWinControl.paneOpened" class="room-tile-text">{{ room.name }}</div>
                </win-split-view-command>
            </div>
        </win-split-view-pane>

        <!-- Content area -->
        <win-split-view-content class="content-area">
            <h2 class="win-h2">{{ currentRoom.name }}</h2>
            <h6 class="win-h6 room-topic">{{ currentRoom.topic }}</h6>
        </win-split-view-content>
    </win-split-view>
</body>
</html>
