<!-- search input -->
<input id="existingRoomsHeader" type="text" placeholder="Search a room..." class="form-control" ng-model="search" />

<!-- list of existing rooms -->
<div id="existingRoomsListView" class="win-scrollview">
    <div ng-repeat="room in existingRooms" class="col-xs-6 existing-room clickable" ng-class="{ 'selected-item': room.id === selectedRoom.id }"
        ng-click="selectRoom(room)">
        <img class="existing-room-image" ng-src="{{ room.image }}" />
        <h5 class="win-h5 existing-room-name">{{ room.name }}</h5>
        <em class="existing-room-description">{{ room.topic }}</em>
    </div>
</div>

<button class="btn btn-primary" ng-disabled="!canJoin" ng-click="joinRoom()">
    Join room
</button>